// Body
// $enable-rounded: true;
// $info:red;
// $blue: #dc2d1a;

$primary: #49A010;
// $info: #dcad1a;

$border-radius: 5px;

//fonts
$font-family-base: "Nunito Sans", sans-serif;

//gutter
//$grid-gutter-width: 16px;