footer.of-footer {
  width: 100%;
  padding-top: 120px;
  .footer-boxbg {
    background-color: #49a0101a;
    width: 100%;
    .logo {
      margin-top: 112px;
      .logo-text {
        font-weight: bolder;
        a {
          text-decoration: none;
        }
      }
    }

    .footer-text {
      margin-top: 37px;
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .social-icon {
      padding-top: 17px;
      .fa-facebook-f {
        width: 13px;
        height: 26px;
        color: #49a010;
      }
    }

    .quick {
      margin-top: 183px;
      ul {
        li {
          text-decoration: none !important;
          list-style: none;

          a {
            color: #000000;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .privacy {
      margin-top: 183px;
      ul {
        li {
          text-decoration: none;
          list-style: none;

          a {
            color: #000000;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .newsletter-box {
      margin-top: 135px;
      h4 {
        color: #000000;
      }
      .text-box {
        input {
          margin-top: 16px;
          border-radius: 0;
          max-width: 372px;
          width: 100%;
          height: 50px;
          border: 1px solid #49a010;
        }
      }
      .btnsend{
        background-color: #49a010;
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 16px;
        text-shadow: none;
        max-width: 140px;
        font-size: 1.5rem;
        width: 100%;
        height: 50px;

        &:hover {
          color: #49a010;
          background-color: #ffffff;
        }
      }
    }

    .footer-box{
        margin-top: 66px;
        background-color: #49a010;
        width: 100%;
        height: 60px;
    } 
  }
}