@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200&display=swap";
// Variables
@import "md_variables";
@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

@import "header";
@import "footer";

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

#of-page-index {
  /*home banner start*/
  .home-banner {
    .background-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../images/banner.jpg");
      background-size: cover;
      height: 629px;
      background-repeat: no-repeat;
      background-position: center;

      .bannerimg {
        position: relative;
        width: 744px;
        height: 418px;
        padding: 74px;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        border-radius: 0px 100px;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   bottom: 0;
        //   right: 0;
        //   width: 100%;
        //   height: 100%;
        // }
        .banner-content {
         
         h4{
           @include media-breakpoint-only(xs){
             font-size: 20px;
           }
          }
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 1;
          .banner-title {
            @include media-breakpoint-only(xs){
              font-size: 24px;
            }
            margin-top: 20px;
            font-weight: bolder;
            color: #000000;
          }
          .btnshop {
            background-color: #49a010;
            border: none;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            border-radius: 0;
            margin-top: 30px;
            text-shadow: none;
            max-width: 250px;
            font-size: 16px;
            width: 85%;
            height: 50px;
            @include media-breakpoint-up(sm){
            border: none;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            border-radius: 0;
            margin-top: 30px;
            text-shadow: none;
            max-width: 250px;
            font-size: 1.5rem;
            width: 100%;
            height: 60px;
            }
            &:hover {
              color: #49a010;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
  /*home banner end*/

  /*Service Section Start*/
  .serviceinfo {
    margin-top: 50px;
    @include media-breakpoint-up(sm){
      margin-top: 140px;
    }
      .service1 {
      .fa-shipping-fast {
        font-size: 2.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(sm){
        font-size: 3.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        }
      }
    }
    h4 {
      font-size: 18px;
      @include media-breakpoint-up(sm){
      margin-top: 27px;
      color: #000000;
      text-align: center;
      } 
    }
    h5 {
      font-size: 18px;
      @include media-breakpoint-up(sm){
      margin-top: 16px;
      color: #b7b7b7;
      text-align: center;
      }
    }
    .service2 {
      margin-top: 25px;
      @include media-breakpoint-up(sm) {
        margin-top: 0;
      }
      .fa-user-headset {
        font-size: 2.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(sm){
        font-size: 3.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        }
      }
    }
    h4 {
      margin-top: 27px;
      color: #000000;
      text-align: center;
    }
    h5 {
      margin-top: 16px;
      color: #b7b7b7;
      text-align: center;
    }
    .service3 {
      margin-top: 25px;
      @include media-breakpoint-up(sm) {
        margin-top: 0;
      }
      .fa-money-bill-alt {
        font-size: 2.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(sm){
        font-size: 3.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
        }
      }
      h4 {
        margin-top: 27px;
        color: #000000;
        text-align: center;
      }
      h5 {
        margin-top: 16px;
        color: #b7b7b7;
        text-align: center;
      }
    }

    .service4 {
      margin-top: 25px;
      @include media-breakpoint-up(sm) {
        margin-top: 0;
      }
      .fa-badge-check {
        font-size: 3.75rem;
        color: #49a010;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h4 {
        margin-top: 27px;
        color: #000000;
        text-align: center;
      }
      h5 {
        margin-top: 16px;
        color: #b7b7b7;
        text-align: center;
      }
    }
  }
  /*Service Section End*/

  /*Food Section Start */
  .food-cat {
    margin-top: 25px;
    @include media-breakpoint-up(sm) {
      margin-top: 120px;
    }
    .background-cat {
      background-color: #49a0101a;
      .headtitle {
        padding-top: 40px;
        .cat-text {
          font-weight: bolder;
          color: #000000;
          text-align: center;
        }
      }
      .food-info {
        padding: 30px 30px;
        @include media-breakpoint-up(sm) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 24px;
        }

        .food-cat1 {
          background-image: url("../images/cat1.jpg");
          height: 178px;
          width: 178px;
          margin: 0 auto;
          border-radius: 50%;
          border: 1px solid #49a010;
        }

        .food-cat2 {
          background-image: url("../images/cat2.jpg");
          height: 178px;
          width: 178px;
          border-radius: 50%;
          margin: 0 auto;
        }
        .food-cat3 {
          background-image: url("../images/cat3.jpg");
          height: 178px;
          width: 178px;
          border-radius: 50%;
          margin: 0 auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .food-cat4 {
          background-image: url("../images/cat4.jpg");
          height: 178px;
          width: 178px;
          border-radius: 50%;
          margin: 0 auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .food-cat5 {
          background-image: url("../images/cat5.jpg");
          height: 178px;
          width: 178px;
          border-radius: 50%;
          margin: 0 auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .food-cat6 {
          background-image: url("../images/cat6.jpg");
          height: 178px;
          width: 178px;
          border-radius: 50%;
          margin: 0 auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        h4 {
          font-size: 18px;
          color: #49a010;
          text-align: center;
          font-weight: 500; 
          margin: 20px 34px;
          @include media-breakpoint-up(sm){
            margin-top: 20px;
            font-weight: 500;
            color: #49a010;
            text-align: center;
            margin-bottom: 34px;
          }
        }
      }
    }
  }
  /*Food Section End */

  /*Offer Product Section Start*/
  .offer-product {
      margin-top: 30px;
     @include media-breakpoint-up(sm){
      margin-top: 120px;
     }
    .product-box {
      border: 1px solid #49a010;
      border-radius: 0 40px 0 40px;
      background-color: #ffffff;
      margin: 0;
      @include media-breakpoint-up(sm){
        width: 100%;
        height: auto;
      }
      .prodleft-box {
        padding: 20px;
        @include media-breakpoint-up(sm){
          padding: 30px 0 30px 30px;
        }
        .prodimage {
          max-width: 230px;
          width: 100%;
          height: 260px;
          background-image: url("../images/cat2.jpg");
          background-size: cover;
          background-position: center;
          background-color: #b7b7b7;
          border-radius: 0 40px 0 40px;
          @include media-breakpoint-up(sm){
          max-width: 275px;
          width: 100%;
          height: 312px;
          background-image: url("../images/cat2.jpg");
          background-size: cover;
          background-position: center;
          background-color: #b7b7b7;
          border-radius: 0 40px 0 40px;
         }
        }
      }
      .prodinfo {
        padding-top: 15px;
        @include media-breakpoint-up(sm){
          padding-top: 57px;
        }
        h3 {
          color: #000000;
          font-weight: 700;
        }
        .price {
          padding-top: 16px;
          .strike {
            padding-left: 1rem;
            color: #b7b7b7;
            text-decoration: line-through;
          }
        }
        .prod-stat {
          padding-top: 16px;
          .prod-text {
            span {
              color: #a1a1a1;
              font-size: 1rem;
            }
          }
        }
        .time-box {
          padding-top: 30px;
          display: flex;
          align-items: center;
          .box-text {
            padding: 8px 8px 7px 9px;
              background-color: #49a010;
              width: 50px;
              height: 50px;
              color: #fff;
              text-align: center;
              font-size: 12px;
              margin-right:18px;
            @include media-breakpoint-up(sm){
              padding: 8px 8px 7px 9px;
              background-color: #49a010;
              width: 59px;
              height: 59px;
              color: #fff;
              text-align: center;
              font-size: 16px;
              margin-right:18px;
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
      .prodright-box {
        margin-top: 30px;
        .prodright-img {
          max-width: 131px;
          width: 100%;
          height: 148px;
          background-image: url("../images/cat2.jpg");
          background-size: cover;
          background-position: center;
          background-color: #b7b7b7;
          border-radius: 0 30px 0 30px;
          opacity: 1;
        }
        .prod-bottom {
          margin-top: 16px;
          .bottom-img {
            width: 133px;
            height: 148px;
            background-image: url("../images/prod1.jpg");
            background-size: cover;
            background-position: center;
            opacity: 0.34;
          }
        }
      }
    }
  }
  /*Offer Product Section End*/

  /*top product section start*/
  .top-prod {
      margin-top: 40px;
    @include media-breakpoint-up(sm){
      margin-top: 120px;
    }
    
   .food-heading {
    h2{
      color: #000000;
      font-weight: bolder;
      text-align: center;
    }  
    }
    
    .catbox-1 {
      background-image: url("../images/prod2.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
      margin-top: 24px;
      max-width: 275px;
      width: 100%;
      height: 311px;
      background-image: url("../images/prod2.jpg");
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      }
    }
    .catbox-2 {
      background-image: url("../images/prod3.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
        margin-top: 24px;
        max-width: 275px;
        width: 100%;
        height: 311px;
        background-image: url("../images/prod3.jpg");
        background-size: cover;
        background-position: center;
        background-color: #49a0101a;
        border-radius: 0 30px 0 30px;
      }
    }

    .catbox-3 {
      background-image: url("../images/prod4.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
      margin-top: 24px;
      max-width: 275px;
      width: 100%;
      height: 311px;
      background-image: url("../images/prod4.jpg");
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      }
    }

    .catbox-4 {
      background-image: url("../images/prod5.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
        margin-top: 24px;
        max-width: 275px;
        width: 100%;
        height: 311px;
        background-image: url("../images/prod5.jpg");
        background-size: cover;
        background-position: center;
        background-color: #49a0101a;
        border-radius: 0 30px 0 30px;
      }
    }

    .catbox-5 {
      background-image: url("../images/prod6.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
        margin-top: 39px;
        max-width: 275px;
        width: 100%;
        height: 311px;
        background-image: url("../images/prod6.jpg");
        background-size: cover;
        background-position: center;
        background-color: #49a0101a;
        border-radius: 0 30px 0 30px;
      }
    }

    .catbox-6 {
      background-image: url("../images/cat2.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
      margin-top: 39px;
      max-width: 275px;
      width: 100%;
      height: 311px;
      background-image: url("../images/cat2.jpg");
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      }
    }
    .catbox-7 {
      background-image: url("../images/prod7.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
        margin-top: 39px;
        max-width: 275px;
        width: 100%;
        height: 311px;
        background-image: url("../images/prod7.jpg");
        background-size: cover;
        background-position: center;
        background-color: #49a0101a;
        border-radius: 0 30px 0 30px;
      }
    }

    .catbox-8 {
      background-image: url("../images/prod8.jpg");
      max-width: 275px;
      width: 100%;
      height:300px;
      background-size: cover;
      background-position: center;
      background-color: #49a0101a;
      border-radius: 0 30px 0 30px;
      margin-top: 24px;
      margin-left: 10px;
      @include media-breakpoint-up(sm){
        margin-top: 39px;
        max-width: 275px;
        width: 100%;
        height: 311px;
        background-image: url("../images/prod8.jpg");
        background-size: cover;
        background-position: center;
        background-color: #49a0101a;
        border-radius: 0 30px 0 30px;
      }
    }
    .prod-name {
      margin-top: 20px;
      h4 {
        font-size: 20px;
        margin-left: 15px;
        @include media-breakpoint-up(sm){
        color: #000000;
        text-align: left;
        }
      }
    }
    .prod-price {
      .discount {
        font-size: 18px;
        margin-left: 15px;
        @include media-breakpoint-up(sm){
          font-size: 22px;
        }
      }
      .offer {
        font-size: 18px;
        color: #a1a1a1;
        text-decoration: line-through;
        padding-left: 1.5rem;
        @include media-breakpoint-up(sm){
          font-size: 22px;
          color: #a1a1a1;
          text-decoration: line-through;
          padding-left: 1.5rem;
        }
      }
    }
  }
  /*top-product section end here*/

  /* sale banner section start */

  .salebanner {
    margin-top: 120px;
    .salebanner-bg {
      width: 100%;
      height: 275px;
      background-image: url("../images/salebanner.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include media-breakpoint-up(sm){
      max-width: 1920px;
      width: 100%;
      height: 427px;
      background-image: url("../images/salebanner.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      }
      .banner-text {
        h4 {
              padding-top: 45px;
              font-size: 18px;
            @include media-breakpoint-up(sm){
              padding-top: 79px;
            }
           }
        h2 {
              font-size: 20px;
              font-weight: bolder;
            @include media-breakpoint-up(sm){
              margin-top: 20px;
            }
           }
        .banner-btnshop {
          background-color: #49a010;
          border: none;
          color: #ffffff;
          text-align: center;
          text-decoration: none;
          border-radius: 0;
          margin-top: 30px;
          text-shadow: none;
          max-width: 250px;
          font-size: 16px;
          width: 60%;
          height: 50px;
          @include media-breakpoint-up(sm){
          background-color: #49a010;
          border: none;
          color: #ffffff;
          text-align: center;
          text-decoration: none;
          border-radius: 0;
          margin-top: 30px;
          text-shadow: none;
          max-width: 250px;
          font-size: 1.5rem;
          width: 100%;
          height: 60px;
          }
          &:hover {
            color: #49a010;
            background-color: #ffffff;
          }
        }
      }
    }
  }
  /*Sale banner section end here*/

  /*Best seller section start*/

  .best-seller {
    margin-top: 30px;
    @include media-breakpoint-up(sm){
      margin-top: 120px;
    }
    .top-rated {
      h4 {
        padding-bottom: 10px;
        position: relative;
        color: #000000;
        font-weight: bold;
        &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $primary;
        height: 1px;
        width: 77px;
        }
      }
    }
    .top-rate1 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image1 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod2.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info1 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
      }
    }
    .top-rate2 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image2 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod3.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info2 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .offerprice {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .top-rate3 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image3 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod4.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info3 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .offer {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .best-sell {
      @include media-breakpoint-only(xs){
        margin-top: 40px;
      }
      h4 {
        position: relative;
        padding-bottom:10px;
        color: #000000;
        font-weight: bold;
        &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $primary;
        height: 1px;
        width: 77px;
        }
       }
    }
    .best-sell1 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image4 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod6.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info4 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .best-offer1 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .best-sell2 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image5 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/cat2.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info5 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .best-offer2 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .best-sell3 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image6 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod7.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info6 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .best-offer3 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .On-sale {
      @include media-breakpoint-only(xs){
        margin-top: 40px;
      }
      h4 {
        position: relative;
        padding-bottom: 10px;
        color: #000000;
        font-weight: bold;
        &::after{
        content: "";
        position:absolute;
        left: 0;
        bottom: 0;
        background-color: $primary;
        height: 1px;
        width: 77px;  
        }
      }
    }

    .On-Sale1 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image7 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod5.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info7 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .Onsale-offer1 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .On-Sale2 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image8 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/prod8.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info8 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .Onsale-offer2 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }

    .On-Sale3 {
      margin-top: 30px;
      display: flex;
      align-items: center;
      .image9 {
        max-width: 80px;
        width: 100%;
        height: 100px;
        background-image: url("../images/cat2.jpg");
        background-size: cover;
        background-position: center;
        background-color: #a1a1a1;
      }
      .top-info9 {
        padding-left: 1rem;
        h5 {
          color: #000000;
        }
        span {
          font-size: 16px;
        }
        .Onsale-offer3 {
          color: #a1a1a1;
          font-size: 16px;
          text-decoration: line-through;
          padding-left: 0.5rem;
        }
      }
    }
  }
  /*Best Seller and top-rate product section end here*/

  /*Blog Section Start*/
  .blog-section {
    margin-top: 30px;
    @include media-breakpoint-up(sm){
      margin-top: 136px;
    }
    h2 {
      color: #000000;
      text-align: center;
      font-weight: 700;
    }
    .blog-box {
      margin-top: 24px;
      // .blogimg {
      //   max-width: 566px;
      //   width: 100%;
      //   height: 288px;
      //   background-image: url("../images/blog-img.jpg");
      //   background-size: cover;
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   border-radius: 0 0 0 60px;
      // }
      // .blog-text {
      //   margin-top: 16px;
      //   font-weight: 500;
      //   p {
      //     color: #a1a1a1;
      //     font-size: 14px;
      //     line-height: 24px;
      //   }
      // }
      .card-style{
       box-shadow: 0 5px 10px #49A0101A;  
       .card-title{
         @include media-breakpoint-only(xs){
           font-size: 18px;
         }
       }
      .blog-img-radius{
        border-radius: 0 0 0 60px;
      }
      .blog-text{
        font-size: 14px;
        color:#A1A1A1;
        line-height: 24px;
      }
      } 
      .blog-detail {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        .blogimg1 {
          max-width: 214px;
          width: 100%;
          height: 214px;
          background-image: url("../images/blogimg2.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .bloginfo { 
          padding-left: 1rem;
          h4{
            @include media-breakpoint-only(xs){
              font-size: 18px;
              margin-top: 20px;  
            }
          }
          p {
            font-size: 15px;
            color: #a1a1a1;
            line-height: 24px;
            @include media-breakpoint-up(sm){
            font-size: 16px;
            color: #a1a1a1;
            line-height: 28px;
            }
          }
          .more {
            margin-top: 14px;
            text-align: left;
          }
        }
      }
      .blog-detail2 {
        margin-top: 16px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        .blogimg2 {
          max-width: 214px;
          width: 100%;
          height: 214px;
          background-image: url("../images/blogimg3.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .bloginfo2 {
          padding-left: 1rem;
          h4{
            @include media-breakpoint-only(xs){
              font-size: 18px;
              margin-top: 20px;
            }
          }
          p {
            font-size: 15px;
            color: #a1a1a1;
            line-height: 24px;
            @include media-breakpoint-up(sm){
            font-size: 16px;
            color: #a1a1a1;
            line-height: 28px;
            }
          }
          .more {
            margin-top: 14px;
            text-align: left;
          }
        }
      }
    }
  }
  /*Blog Section End*/

  /*Brand Section Start*/
  .brand-section {
    margin-top: 50px; 
    @include media-breakpoint-up(sm){
      margin-top: 119px;
    }
    .brand-box {
      width: 100%;
      height: auto;
      border-radius: 0 30px 0 30px;
      border: 1px solid #49a010;
      background-color: #fff;
      .brand-image {
        padding: 35px 50px; 
        @include media-breakpoint-up(sm){
        padding: 35px 35px; 
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        }
        .logo1 {
          max-width: 180px;
          width: 100%;
          height: 74px;
          background-image: url("../images/brand1.jpg");
          background-size: cover;
          background-position: center;
        }
        .logo2 {
          max-width: 180px;
          width: 100%;
          height: 74px;
          background-image: url("../images/brand2.jpg");
          background-size: cover;
          background-position: center;
        }
        .logo3 {
          max-width: 180px;
          width: 100%;
          height: 74px;
          background-image: url("../images/brand3.jpg");
          background-size: cover;
          background-position: center;
        }
        .logo4 {
          max-width: 180px;
          width: 100%;
          height: 74px;
          background-image: url("../images/brand4.jpg");
          background-size: cover;
          background-position: center;
        }
        .logo5 {
          max-width: 180px;
          width: 100%;
          height: 74px;
          background-image: url("../images/brand5.jpg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  /*Brand Section End*/
}