<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="images/favicon.ico" />
    <title>Organic Food</title>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="css/home.css" />

  </head>

  <body>
    <% include /src/include/header.ejs %>
    <main id="of-page-index">

      <section class="home-banner">
        <div class="background-banner">
          <div class="bannerimg">
            <div class="banner-content">
              <h4 class="text-primary text-uppercase">ORGANIC FOOD</h4>
              <h2 class="display-4 banner-title">
                Looking for <br />the fresh Organic Food
              </h2>
              <button class="btnshop text-uppercase">SHOP NOW</button>
            </div>
          </div>
        </div>
      </section>

      <section class="serviceinfo">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="service1">
                <i class="far fa-shipping-fast"></i>
              </div>
              <h4>Free Shipping</h4>
              <h5>Free shipping for all US order</h5>
            </div>

            <div class="col-md-3">
              <div class="service2">
                <i class="fal fa-user-headset"></i>
              </div>
              <h4>Support 24/7</h4>
              <h5>We support 24h a day</h5>
            </div>

            <div class="col-md-3">
              <div class="service3">
                <i class="far fa-money-bill-alt"></i>
              </div>
              <h4>100% Money Back</h4>
              <h5>You have 30 days to return</h5>
            </div>

            <div class="col-md-3">
              <div class="service4">
                <i class="fal fa-badge-check"></i>
              </div>
              <h4>Payment Secure</h4>
              <h5>We ensure secure payment</h5>
            </div>
          </div>
        </div>
      </section>

      <section class="food-cat">
        <div class="background-cat">
          <div class="container">
            <div class="headtitle">
              <h2 class="display-6 cat-text">Top Categories</h2>
            </div>
            <div class="food-info">
              <div class="col-sm-6 col-md-2">
                <div class="food-cat1"></div>
                <h4>Fruits</h4>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="food-cat2"></div>
                <h4>Vegetables</h4>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="food-cat3"></div>
                <h4>Drinks</h4>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="food-cat4"></div>
                <h4>Eggs</h4>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="food-cat5"></div>
                <h4>Cake</h4>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="food-cat6"></div>
                <h4>Meats</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="offer-product">
        <div class="container">
            <div class="row product-box">
              <div class="col-md-4">
                <div class="prodleft-box">
                  <div class="prodimage">
                    <span class="badge bg-primary rounded-0">20% OFF</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="prodinfo">
                  <h3>Organic Tomato</h3>
                  <div class="price">
                    <span class="text-primary">$25.00</span>
                    <span class="strike">$25.00</span>
                  </div>
                  <div class="prod-stat">
                    <div class="prod-text">
                      <span>Available: 237</span>
                      <span style="float: right">Already Sold: 23</span>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar text-primary"
                        role="progressbar"
                        style="width: 25%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                  <div class="time-box">
                    <div class="box-text">20 DAYS</div>
                    <div class="box-text">22 HR</div>
                    <div class="box-text">10 MIN</div>
                    <div class="box-text">56 SEC</div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="prodright-box">
                  <div class="prodright-img"></div>
                  <div class="prod-bottom">
                    <div class="bottom-img"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

      <section class="top-prod">
        <div class="container">
          <div class="food-heading"><h2>Trendy Food</h2></div>
          <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="featured-tab" data-bs-toggle="tab" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="false">Featured</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="false">New</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="onsale-tab" data-bs-toggle="tab" data-bs-target="#onsale" type="button" role="tab" aria-controls="onsale" aria-selected="false">Onsale</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="deal-tab" data-bs-toggle="tab" data-bs-target="#deal" type="button" role="tab" aria-controls="deal" aria-selected="false">Deal</button>
            </li>
          </ul> 

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-1"><span class="badge bg-primary rounded-0">NEW</span></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-2"><span class="badge bg-primary rounded-0">NEW</span></div>
                  <div class="prod-name"><h4>Cauliflower</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-3"><span class="badge bg-primary rounded-0">NEW</span></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-4"><span class="badge bg-primary rounded-0">NEW</span></div>
                  <div class="prod-name"><h4>Donec</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-5"></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-6"><span class="badge bg-primary rounded-0">NEW</span></div>
                  <div class="prod-name"><h4>Tomato</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-7"></div>
                  <div class="prod-name"><h4>Brinjal</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-8"></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-1"></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-2"></div>
                  <div class="prod-name"><h4>Cauliflower</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-3"></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-4"></div>
                  <div class="prod-name"><h4>Donec</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-5"></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-6"></div>
                  <div class="prod-name"><h4>Tomato</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-7"></div>
                  <div class="prod-name"><h4>Brinjal</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-8"></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="onsale" role="tabpanel" aria-labelledby="onsale-tab">
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-1"></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-2"></div>
                  <div class="prod-name"><h4>Cauliflower</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-3"></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-4"></div>
                  <div class="prod-name"><h4>Donec</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="deal" role="tabpanel" aria-labelledby="deal-tab">
              <div class="row">
                <div class="col-md-3">
                  <div class="catbox-5"></div>
                  <div class="prod-name"><h4>Lemon</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-6"></div>
                  <div class="prod-name"><h4>Tomato</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-7"></div>
                  <div class="prod-name"><h4>Brinjal</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
    
                <div class="col-md-3">
                  <div class="catbox-8"></div>
                  <div class="prod-name"><h4>Lettuce</h4></div>
                  <div class="prod-price">
                    <span class="discount text-primary">$25.00</span>
                    <span class="offer">$25.00</span>
                  </div>
                </div>
            </div>
            </div>
          </div>

      </section>

      <section class="salebanner">
        <div class="salebanner-bg">
          <div class="container">
            <div class="banner-text">
              <h4 class="text-primary">BLACK FRIDAYS !</h4>
              <h2 class="display-6">
                SALE 50% OFF<br />ALL VEGETABLE PRODUCTS
              </h2>
              <button class="banner-btnshop text-uppercase">Shop Now</button>
            </div>
          </div>
        </div>
      </section>

      <section class="best-seller">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="top-rated">
                <h4>Top Rated</h4>
              </div>

              <div class="top-rate1">
                 <div class="image1"></div>
                 <div class="top-info1">
                   <h5>Lemon</h5>
                   <span class="text-primary">$25.00</span>
                </div>
              </div>

              <div class="top-rate2">
                <div class="image2"></div>
                <div class="top-info2">
                  <h5>Cauliflower</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="offerprice">$25.00</span>
               </div>
             </div>

             <div class="top-rate3">
              <div class="image3"></div>
              <div class="top-info3">
                <h5>Lettuce</h5>
                <span class="text-primary">$25.00</span>
                <span class="offer">$25.00</span>
             </div>
           </div>

            </div>

            <div class="col-md-4">
              <div class="best-sell">
                <h4>Best Selling</h4>
              </div>

              <div class="best-sell1">
                <div class="image4"></div>
                <div class="top-info4">
                  <h5>Lemon</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="best-offer1">$25.00</span>
                </div> 
              </div>

              <div class="best-sell2">
                <div class="image5"></div>
                <div class="top-info5">
                  <h5>Tomato</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="best-offer2">$25.00</span>
                </div> 
              </div>

              <div class="best-sell3">
                <div class="image6"></div>
                <div class="top-info6">
                  <h5>Brinjal</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="best-offer3">$25.00</span>
                </div> 
              </div>

            </div>

            <div class="col-md-4">
              <div class="On-sale">
                <h4>On Sale</h4>
              </div>
              
              <div class="On-Sale1">
                <div class="image7"></div>
                <div class="top-info7">
                  <h5>Donec</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="Onsale-offer1">$25.00</span>
               </div>
              </div>

              <div class="On-Sale2">
                <div class="image8"></div>
                <div class="top-info8">
                  <h5>Lettuce</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="Onsale-offer2">$25.00</span>
               </div>
              </div>

              <div class="On-Sale3">
                <div class="image9"></div>
                <div class="top-info9">
                  <h5>Tomato</h5>
                  <span class="text-primary">$25.00</span>
                  <span class="Onsale-offer3">$25.00</span>
               </div>
              </div>

           </div>  
          </div>
        </div>
      </section>

      <section class="blog-section">

         <div class="blog-title">
            <h2>Latest Blogs</h2>
         </div>

         <div class="blog-box">
         <div class="container">
           <div class="row">
             <div class="col-md-6">
                  <div class="card card-style">
                    <img src="images/blog-img-1.jpg" class="card-img-top img-fluid blog-img-radius" alt="blog-image1">
                    <div class="card-body">
                      <h5 class="card-title text-primary">Lorem Ipsum is simply dummy text?</h5>
                      <p class="card-text blog-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                  </div>
                
             </div>

             <div class="col-md-6">

               <div class="blog-detail">
                 <div class="blogimg1"></div>
                 <div class="bloginfo">
                   <h4 class="text-primary">Lorem Ipsum is simply dummy<br>text?</h4>
                   <p>Lorem Ipsum is simply dummy text of the printing<br>and typesetting industry.</p>
                   <span class="more text-primary"><a href="#" style="text-decoration: none;">Read More</a></span>
                 </div>
               </div>

               

               <div class="blog-detail2">
                <div class="blogimg2"></div>
                <div class="bloginfo2">
                  <h4 class="text-primary">Lorem Ipsum is simply dummy<br>text?</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing<br>and typesetting industry.</p>
                  <span class="more text-primary"><a href="#" style="text-decoration: none;">Read More</a></span>
                </div>
               </div>
             </div>

           </div>
         </div>
         </div>

      </section>

      <section class="brand-section">
        <div class="container">
           <div class="brand-box">
             <div class="brand-image">
                 <div class="logo1"></div>   
                 <div class="logo2"></div>   
                 <div class="logo3"></div>   
                 <div class="logo4"></div>   
                 <div class="logo5"></div>   
             </div>
           </div>
        </div>
      </section>

    </main>
    <% include /src/include/footer.ejs %>
    <script src="js/home.js"></script>
  </body>
</html>