<footer class="of-footer">
<div class="footer-boxbg">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo d-flex align-items-center">
                    <a href="#"><img src="../images/logo.svg" alt="logo"></a>
                </div>

                <div class="footer-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm</p>
                    <span>Follow us</span>
                </div>

                <div class="social-icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>    
            </div>

            <div class="col-md-2">
                <div class="quick">
                    <ul>
                      <li><a href="#" class="text-primary">Home</a></li>
                      <li><a href="#">Product</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Login</a></li>
                    </ul>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="privacy">
                    <ul>
                      <li><a href="#">Delivery Information</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Search Terms</a></li>
                      <li><a href="#">Order & Return</a></li>
                    </ul>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="newsletter-box">
                   <h4>Newsletter</h4>
                   <div class="mb-3 text-box">
                       <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                   </div>
                   <div>
                       <button class="btnsend">SEND</button> 
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-box"></div>
</div>
</footer>